*{
    margin:0px;
    padding: 0px;
  }
  p{
    font-size: 18px;
  }
  
.container {
      display: flex;
      height: 100vh;
    }
.leftside {
        width: 470px;
        background-image: url("Screenshot_2-7-2024_14318_employer.apna.co.jpeg");
      } 

.rightside{
    /* margin: 50px;
    padding: 100px; */
    width: 450px;
    margin-left: 250px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 5px;
}   
.backpage{
  text-decoration: none;
    color: black;
    font-size: 16px;
}
.apnahire{
    
    background-image: url("Screenshot_2-7-2024_225423_employer.apna.co.jpeg");
    height: 30px;
    width: 150px;
}       
.image{
    background-image: url("Screenshot_2-7-2024_22544_employer.apna.co.jpeg");
    height: 180px;
    width: 200px;
}  
.form{
    
}  

.button{
    background-color: #1f8268;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 470px;
}